/*--start header --*/
*
{
    margin-top: 0;
    padding: 0;
        
}
body
{
    
    height:auto;       
}

header
{
    background-image: url('../images/1.png');
    height: 700px;
    background: cover;
    background-size:100%;
}
.navber.container
{
    width: 1200px;
    margin: auto;
}

 .navber .slider p
{
    font-size: 20px ;
    font-weight:bold;
    margin-left: 20px;
    
}
 .navber .slider p span
{
     font-weight: lighter;   
    
}
 .navber .container .menu
{
   float: right;
   color: black; 
   
}
.container .menu li
{
    list-style: none;
    display:inline-block;
    margin:20px;
    padding: 0;
    
    
}
.navber .description
{
    margin-top:100px ;
    margin-left: 100px ;
    margin-bottom: 10px ;
    font-size: 90px;
}
.navber .description h1
{
    font-family:'Dancing Script', cursive;
    font-size: 100px ;
    color: forestgreen;
}
.navber .description h2
{
    font-size: 60px ;
}

.navber .description p
{
    margin-right: 20px ;
    font-size: 40px ;
}

/*-- end header --*/
/*-- start view some details--*/
main 
{
    padding: 50px ;
    
}
.first .icon
{
    width: 50%;
    float: left;
    
}
.first .container
{
    float: right;
    width: 50%;
    margin-top: 200px ;
}
.first .container h1
{
    font-family:'Dancing Script', cursive;
    font-size: 50px ;
    color: forestgreen;
}
.first .container h2
{
    font-size: 45px ;
    
    
}
.first .container p
{
    margin-right: 20px ;
    font-size: 20px ;
    color: burlywood ;
    
}
.first  button 
{
    background: none ;
    color: skyblue;
    width: 240px ;
    height:80px ;
    border: 1px  solid blue  ;
    font-size: 18px ;
    transition-duration: 5s;
    border-radius: 4px ;

}
.first  button:hover
{
    background: blue;
    cursor: pointer;
}
.two .icon
{
    width: 50%;
    float: right;
    margin-top: 200px ;
}
.two  .container
{
    float: left;
    width: 50%;
    margin-top: 100px ;
}
.two  .container h1
{
    font-family:'Dancing Script', cursive;
    font-size: 50px ;
    color: forestgreen;
}
.two  .container h2
{
    font-size: 45px ;
    font-weight: bold;
    
    
}
.two  .container p
{
    margin-left: 20px ;
    margin-right: 20px ;
    font-size: 20px ;
    color: burlywood ;
    
}
/*-- end view some details--*/
 /*-- start ending--*/
.menuitem
{
    text-align: center;
    padding-top: 50px ;
    margin-top: 50px ;
    
    
    
}
.menuitem h1
{
    font-family:'Dancing Script', cursive;
    font-size: 50px ;
    color: forestgreen;
    
}
.menuitem h2
{
    font-size: 45px ;
    font-weight: bold;
    
    
}
 .menuitem button 
{
   background: none ;
    color: skyblue;
    width: 240px ;
    height:80px ;
    border: 1px  solid blue  ;
    font-size: 18px ;
    transition-duration: 5s;
    border-radius: 4px ;

}
 .menuitem  button:hover
{
    background: blue;
    cursor: pointer;
}
 /*-- end ending--*/